.container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 132px 15px 67px;
    position: relative;

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
        padding: 0 15px 0;
    }
}

.wrapper {
    position: relative;
}

.background {
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: 0;

    @media screen and (max-width:768px) {
        display: none;
    }
}

.content {}

.col {}


.hello {
    color: #3DA7B4;
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    @media screen and (max-width:768px) {
        font-size: 18px;
        line-height: 18px;
    }
}

.title {
    font-weight: 800;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 32px;

    @media screen and (max-width:768px) {
        font-size: 24px;
        line-height: 30px;
    }
}

.discription {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 52px;
    color: rgba(14, 14, 44, 0.6);

    @media screen and (max-width:768px) {
        font-size: 16px;
        line-height: 20px;
    }


}

.boxImg {
    display: flex;

    @media screen and (max-width:768px) {
        grid-row-start: 1;
    }
}

.img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}

.box {
    display: flex;
    gap: 30px;

    @media screen and (max-width:768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.btn {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
}

.linkBtn_xl,
.linkBtn_m {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    gap: 13px;
    padding: 8px;
}

.linkBtn_xl {
    @media screen and (max-width:768px) {
        display: none;
    }
}

.linkBtn_m {
    display: none;
    @media screen and (max-width:768px) {
        display: flex;
    }
}


.color {
    &_green {
        color: rgba(29, 167, 180, 1);
        background-image: linear-gradient(to right, rgba(29, 167, 180, 1) 0%, rgba(29, 167, 180, 1) 100%);
        background-repeat: repeat-x;
        background-position: 0 89%;
        background-size: 100% 2px;
    }

    &_yellow {
        color: rgba(248, 169, 13, 1);

        background-image: linear-gradient(to right, rgba(248, 169, 13, 1) 0%, rgba(248, 169, 13, 1) 100%);
        background-repeat: repeat-x;
        background-position: 0 89%;
        background-size: 100% 2px;
    }
}

@media screen and (max-width:768px) {

}