.nextArrow {
    background-image: url("../../../img/icons/arrowRightBrn.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    bottom: 0;
    right: 98px;
    z-index: 10;
    cursor: pointer;

    @media screen and (max-width:768px) {
        right: calc(50% - 72px) ;
    }
}

.prevArrow {
    background-image: url("../../../img/icons/arrowLeftBtn.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    bottom: 0;
    right: 194px;
    z-index: 10;
    cursor: pointer;


    @media screen and (max-width:768px) {
        right: calc(50% + 24px) ;
    }
}

.team {
    padding: 24px 0 0;
    position: relative;

    &__title {
        color: rgba(61, 167, 180, 1);
        font-weight: 800;
        font-size: 24px;
        line-height: 171.5%;
    }


    &__background {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;

        @media screen and (max-width: 960px) {
            display: none;
        }
    }


    &__subtitle {
        font-weight: 800;
        font-size: 34px;
        line-height: 140%;
    }

    &__wrapper {
        // width: 95%;
        display: grid;
        grid-template-columns: minmax(300px, 47.5%) minmax(250px, 350px);
        gap: max(135px);

    }

    &__wrapper_btns {
        align-self: flex-end;
        display: flex;
        gap: 48px;
        height: 48px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__discription {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: rgba(14, 14, 44, 0.6);
    }

    &__slider {
        overflow: hidden;
    }



    @media screen and (max-width:768px) {
        padding: 24px 0 64px;

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
        }

        &__col {
            align-items: center;
        }

        &__title {
            font-size: 16px;
            line-height: 22px;
            color: #F8A90D;
            width: 100%;
            text-align: left;
        }

        &__subtitle {
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
        }


        &__discription {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }

        &__wrapper_btns {
            align-self: center;
        }
    }
}


.teamCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(250px, 350px) auto auto;
    padding-bottom: 64px;

    &__img {
        display: block;
        height: 100%;
    }

    &__title {
        font-weight: 800;
        font-size: 22px;
        line-height: 140%;
        margin-bottom: 12px;
    }

    &__wrapper_img {
        overflow: hidden;
        width: 100%;
        border-radius: 18px;
        border: none;
        background-color: rgba(61, 167, 180, 1);
        margin-bottom: 16px;
    }

    &__position {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: rgba(14, 14, 44, 0.6);
    }

    @media screen and (max-width:768px) {
        padding-bottom: 74px;

        &__title {
            font-weight: 800;
            font-size: 20px;
            line-height: 20px;
        }

        &__position {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }


    }

}

@media screen and (max-width:768px) {
    .teamCard {
        grid-template-columns: minmax(350px 300px)
    }

    .teamCard__wrapper_img {
        max-width: 350px;
        min-width: 300px;

    }


}