.base {
    margin-left: 346px;
    margin-right: 262px;
    margin-bottom: 48px;

    

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    /* or 31px */

    text-align: center;
    color: rgba(14, 14, 44, 0.6);
}